@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.group-button {
  background-color: gray;
  border-radius: 100%;
  transition: border-radius 100ms linear, background-color 100ms linear;
  height: 100%;
  width: 100%;
}

.group-button:hover {
  background-color: violet;
  border-radius: 10px;
  cursor: pointer;
}

.group-button-active {
  background-color: violet;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.rdp-day_today:not(.rdp-day_outside) {
  color: red;
}

.rdp-row:has(.rdp-day_selected) {
  background-color: lightgray;
}
